* {
    box-sizing: border-box;
}

.page {
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: #DCDBD9; 
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, serif;
}

.header {
    background-color: #3578E5;
    padding: 2px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    width: 100%;
}


h1 {
    font-size: 1.5 еm; /* 24рх / 16рх */ 
    font-style: italic;
    font-weight: normal;
}

.modal_window {
    position: fixed;
    left: 20%;
    width: 60%;
    height: 700px;
    visibility: hidden;
    background-color: #3f59ff;
}

.modal_window:target {
    visibility: visible;
}

.game_field {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.game_field .table {
    display: table;
    border: hidden;
    border-collapse: collapse;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.game_field .row {
    display: table-row;
}

.game_field .cell {
    display: table-cell;
    border: 2px solid #3f59ff;
}

.game_field input {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: transparent;
    box-sizing: border-box;
    text-align: center;
    font-size: 64px;

}


input:focus {
    outline: none;
}
